$color-primary-light: #414345;
$color-primary-dark: #232526;

$color-success: #55c57a;
$color-warning: #ff7730;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #777;
$color-grey-light-3: #ccc;

$color-black: #000;
$color-white: #fff;